<ion-header>
  <ion-toolbar>
    <ion-title>ALUNO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <a href="http://localhost:8100/lista">
      <ion-item>
        <ion-label>Voltar</ion-label>
      </ion-item>
    </a>
  </ion-list>
  <ion-card>
    <img src="assets/imagens/vinicius.jfif" />
    <ion-card-header>
      <ion-card-subtitle>Sistemas de Informação</ion-card-subtitle>
      <ion-card-title>Vinícius Bortolini</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Matrícula: 201810202307
      <br> Curso: SISTEMAS DE INFORMAÇÃO [381]/CDR - Bacharelado - Não se aplica - Caçador - N
      <br> Nível:
      <br> Status: CURSANDO
      <br> E-Mail: vinibortolini01@gma...
      <br> Entrada: 2018.1
    </ion-card-content>
  </ion-card>
</ion-content>