<ion-header>
  <ion-toolbar>
    <ion-title>Alunos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <a href="http://localhost:8100/inicial">
      <ion-item>
        <img src="assets/imagens/vinicius.jfif" />
        <ion-label>Vinicius Bortolini</ion-label>
      </ion-item>
    </a>
    <a href="http://localhost:8100/inicial">
      <ion-item>
        <img src="assets/imagens/anthony.jfif" />
        <ion-label>Anthony Cruz</ion-label>
      </ion-item>
    </a>
    <a href="http://localhost:8100/inicial">
      <ion-item>
        <img src="assets/imagens/samuel.jfif" />
        <ion-label>Samuel Feitosa</ion-label>
      </ion-item>
    </a>
  </ion-list>
</ion-content>